# ORM y base de datos
SQLAlchemy==2.0.23
psycopg2-binary==2.9.11

# Entorno
python-dotenv==1.0.0

# Migraciones
alembic==1.13.1

# API
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic[email]==2.9.2
email-validator==2.2.0